<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eafit.numericalanalysis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.ecuacionesUnaVariable.MenuUnaVariable" />
        <activity android:name=".actividades.sistemasEcuaciones.MenuSistemasEcuaciones" />
        <activity android:name=".actividades.ecuacionesUnaVariable.IngresoFunciones" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.ValoresIniciales" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.MenuMetodosIntervalos" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.MenuMetodosAbiertos" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.Graficar" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.BusquedaIncremental" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.ProcesoBusqueda" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.biseccion.BiseccionIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.biseccion.BiseccionProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.reglaFalsa.ReglaFalsaIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.reglaFalsa.ReglaFalsaProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.puntoFijo.PuntoFijoIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.puntoFijo.PuntoFijoProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.newton.NewtonIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.newton.NewtonProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.secante.SecanteIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.secante.SecanteProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.raicesMultiples.RaicesMultiplesIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.raicesMultiples.RaicesMultiplesProceso" />
        <activity android:name=".actividades.sistemasEcuaciones.ingresoEcuaciones.IngresarEcuaciones"></activity>
    </application>

</manifest>