<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eafit.numericalanalysis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.ecuacionesUnaVariable.MenuUnaVariable" />
        <activity android:name=".actividades.sistemasEcuaciones.MenuSistemasEcuaciones" />
        <activity android:name=".actividades.ecuacionesUnaVariable.IngresoFunciones" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.ValoresIniciales" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.MenuMetodosIntervalos" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.MenuMetodosAbiertos" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.Graficar" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.BusquedaIncremental" />
        <activity android:name=".actividades.ecuacionesUnaVariable.valoresIniciales.ProcesoBusqueda" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.biseccion.BiseccionIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.biseccion.BiseccionProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.reglaFalsa.ReglaFalsaIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosIntervalos.reglaFalsa.ReglaFalsaProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.puntoFijo.PuntoFijoIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.puntoFijo.PuntoFijoProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.newton.NewtonIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.newton.NewtonProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.secante.SecanteIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.secante.SecanteProceso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.raicesMultiples.RaicesMultiplesIngreso" />
        <activity android:name=".actividades.ecuacionesUnaVariable.metodosAbiertos.raicesMultiples.RaicesMultiplesProceso" />
        <activity
            android:name=".actividades.sistemasEcuaciones.ingresoEcuaciones.IngresoEcuaciones"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.MenuEliminacionGussiana" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.gaussSimple.IngresoGaussSimple" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoParcial.IngresoPivoteoParcial" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoEscalonado.IngresoPivoteoEscalonado" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoTotal.IngresoPivoteoTotal" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.gaussSimple.ProcesoGaussSimple" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoParcial.ProcesoPivoteoParcial" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoTotal.ProcesoPivoteoTotal" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosEliminacionGaussiana.pivoteoEscalonado.ProcesoPivoteoEscalonado" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.MenuFactorizacion" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionSimple.IngresoFactorizacionSimple" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionPivoteo.IngresoFactorizacionPivoteo" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionDoolittle.IngresoFactorizacionDoolittle" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionCrout.IngresoFactorizacionCrout" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionCholesky.IngresoFactorizacionCholesky" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionSimple.ProcesoFactorizacionSimple" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionPivoteo.ProcesoFactorizacionPivoteo" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionCholesky.ProcesoFactorizacionCholesky" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionCrout.ProcesoFactorizacionCrout" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosFactorizacion.factorizacionDoolittle.ProcesoFactorizacionDoolittle" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosIterativos.MenuIterativos" />
        <activity
            android:name=".actividades.sistemasEcuaciones.metodosIterativos.gaussSeidel.IngresoGaussSeidel"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosIterativos.gaussSeidel.ProcesoGaussSeidel" />
        <activity
            android:name=".actividades.sistemasEcuaciones.metodosIterativos.jacobi.IngresoJacobi"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".actividades.sistemasEcuaciones.metodosIterativos.jacobi.ProcesoJacobi" />
        <activity android:name=".actividades.interpolacion.MenuInterpolacion" />
        <activity
            android:name=".actividades.interpolacion.ingresoPuntos.IngresoPuntos"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".actividades.interpolacion.newton.IngresoNewton" />
        <activity android:name=".actividades.interpolacion.lagrange.IngresoLagrange"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>